@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Customize your main colors in :root variables */
:root {
  --main-background-color: #000103;
  --card-background-color: #515052;
  --card-background-lighter-color: #333138;
  --main-text-color: #fffffa;
  --title-text-color: #fffffa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--main-text-color);
}
h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}
.MuiDialogContent-root {
  width: 75%;
}
.MuiFab-extended {
  height: auto;
  padding-right: 0 !important;
}

.MuiFab-label {
  font-weight: bold;
}

.MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 515px;
}

.MuiButton-containedPrimary:not(.MuiButton-fullWidth) {
  border-radius: 24px !important;
  padding: 6px 16px;
  background-color: var(--card-background-lighter-color);
  border: none !important;
}
.MuiButton-containedPrimary:not(.MuiButton-fullWidth):hover {
  background-color: var(--card-background-color);
}

.MuiButton-label {
  font-size: 1.2em;
}

.MuiLinearProgress-colorPrimary {
  background-color: var(--main-text-color) !important;
}

.MuiLinearProgress-barColorPrimary {
  background-color: var(--title-text-color) !important;
}
.profile {
  background-color: var(--card-background-color);
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 35px 20px;
}
.profile img {
  float: right;
}
.profile h2 {
  padding-bottom: 20px;
  font-size: 35px;
}
.footer {
  background-color: var(--main-background-color);
}
.follow {
  text-align: center;
  padding: 50px 0;
}
.follow h2 {
  font-size: 35px;
}

.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
}
.copyright {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-size: 14px;
}
.logo {
  border-radius: 50px;
}

@media (max-width: 898px) {
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .profile img {
    margin-top: 20px;
    float: none;
    width: 300px;
    height: auto;
  }
  .copyright {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
